@{
    ViewBag.Title = "Do you?";
}
<h2>@ViewBag.Title</h2>
<h2 class="center-align"></h2>

<div style="width: 40%;height: 60%;font-size: 140%; padding-top: 1px;" class="center-align">
    <iframe width="630" height="415" src="https://www.youtube.com/embed/EJwyU8tGGGI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; "
            allowfullscreen></iframe>
</div>