<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Contact Details</h3>
            <hr>
            <ul class="list-unstyled" style="margin-left: 8px;">
                <li><i class="fa fa-envelope"></i></i> hello@stamatopoulos.org</li>
                <li><i class="fa fa-phone"></i></i> +30 210 99 22 505</li>
                <li><i class="fa fa-map-marker"></i></i> Suntagmatos 152, 1st floor <br>17456, Athens</li>
                <br>
                <div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12580.959267549133!2d23.7257492!3d37.9715323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c97c042f5eb0df6!2sAcropolis%20of%20Athens!5e0!3m2!1sen!2sgr!4v1610216563040!5m2!1sen!2sgr"
                        width="550" height="170" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Contact Form</h3>
            <hr>
            <form name="CF" id="CF"style="margin-left:15px">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control no-radius" type="text" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control no-radius" type="email" id="email">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control no-radius" id="description"></textarea>
                </div>
                <button class="btn btn-primary no-radius" type="submit" style="margin-bottom: 7px;">Send</button>
            </form>
        </div>
    </div>
